<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8"></meta>
<meta http-equiv="x-ua-compatible" content="ie=edge"></meta>
<title>Add SubCategory</title>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous"></link>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous"></link>
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
	<div class="container my-5">

		<p class="my-5" align="right">
			<a href="/subcat/list-subcategory" class="btn btn-primary"><i
				class="fas fa-user-plus ml-2">ListOfSubCategory</i></a>
		</p>

		<h3>Add SubCategory</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{/subcat/add}"
						th:object="${subCategory}" method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="sName" class="col-form-label">SubCategoryName</label>
								<input type="text" th:field="*{sName}" class="form-control"
									id="sName" placeholder="Name"></input>
							</div>
							<div class="form-group col-md-8">
								<label for="sDescription" class="col-form-label">SubCategoryDesc</label>
								<input type="text" th:field="*{sDescription}"
									class="form-control" id="sDescription" placeholder="Desc"></input>
							</div>

							<div class="form-group col-md-8">
								<label for="productCategory" class="col-form-label">Category</label>
								<select th:field="*{productCategory}">
									<option value="">--SELECT---</option>
									<option th:each="category : ${categories}"
										th:value="${category.cName}" th:text="${category.cName}" />
								</select>
							</div>



							<div class="col-md-6">
								<input type="submit" class="btn btn-primary"
									value="Add SubCategory"></input>
							</div>

							<div class="form-group col-md-8"></div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>