<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8"></meta>
<meta http-equiv="x-ua-compatible" content="ie=edge"></meta>
<title>Add Product</title>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous"></link>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous"></link>
<link rel="stylesheet" href="../css/shards.min.css"></link> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
/*<![CDATA[*/
$(document).ready(function(){
  $("#pcat").change(function(){
	 // alert("hello");
    var cat = $(this).val();
    //alert(cat);
    $.ajax({
		type: 'GET',
		url: '/product/subcat/' + cat,
		success: function(result) {
			//alert('subcats success');
			var s = '<option value="">--SELECT---</option>';
			for(var i = 0; i < result.length; i++)  {
				s += '<option value="' + result[i].sName + '">' + result[i].sName + '</option>';
			}

			$('#psubcat').html(s);


		}
    
    });

  });
});
/*]]>*/
</script>

 <script>

            function convertToStringAndShow(data) {
                var reader = new FileReader();
                reader.readAsDataURL(data.files[0]);
                reader.onload = function () {
                    // fetch imsge as Base64 String
                    var imageAsString = reader.result;
                    // Show into Image-tag
                    $('#imageTag').attr('src', imageAsString);

                    // Insert into Hidden field, will be get into Server(saveAction.jsp): On form-submit
                    $('#productImage').val(imageAsString);
                }
                //alert( reader.onload);
            }
        </script>

</head>

<body>
	<div class="container my-5">

		<p class="my-5" align="right">
			<a href="/product/list-Product" class="btn btn-primary"><i
				class="fas fa-user-plus ml-2">List Of Product</i></a>
		</p>
		<h3>Add Product</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{/product/add}" th:object="${product}"
						method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="pName" class="col-form-label">ProductName</label> <input
									type="text" th:field="*{pName}" class="form-control" id="pName"
									placeholder="ProductName"></input>
							</div>



							<div class="form-group col-md-8">
								<label for="pCat" class="col-form-label">ProductCategory</label>
								<select th:field="*{pCat}" id="pcat">
									<option value="">--SELECT---</option>
									<option th:each="category : ${categories}"
										th:value="${category.cName}" 
										th:text="${category.cName}" />
								</select>
							</div>

							<div class="form-group col-md-8">
								<label for="pCat" class="col-form-label">ProductSubCategory</label>
								<select th:field="*{pSubCat}" id="psubcat">
									<option value="">--SELECT---</option>
								</select>
							</div>

							<div class="form-group col-md-8">
								<label for="pCompanyName" class="col-form-label">CompanyName</label>
								<input type="text" th:field="*{pCompanyName}"
									class="form-control" id="pCompanyName"
									placeholder="CompanyName"></input>
							</div>


							<div class="form-group col-md-8">
								<label for="productImage" class="col-form-label">ProductImage</label> 
								<input type="file" value="Select Image"
									onchange="convertToStringAndShow(this);" /> 
									<input type="text"
										th:field="*{productImage}" id="productImage"
									class="form-control" />
							</div>

							<div class="form-group col-md-8">
								<label for="pSpec" class="col-form-label">Specification</label>
								<input type="text" th:field="*{pSpec}" class="form-control"
									id="pSpec" placeholder="Specification"></input>
							</div>



							<div class="form-group col-md-8">
								<label for="pType" class="col-form-label">ProductType</label> <input
									type="text" th:field="*{pType}" class="form-control" id="pType"
									placeholder="ProductType"></input>
							</div>



							<div class="form-group col-md-8">
								<label for="skuCode" class="col-form-label">SKU Code</label> <input
									type="text" th:field="*{skuCode}" class="form-control"
									id="skuCode" placeholder="SkuCode"></input>
							</div>


							<div class="form-group col-md-8">
								<label for="pPrice" class="col-form-label">ProductPrice</label>
								<input type="text" th:field="*{pPrice}" class="form-control"
									id="pPrice" placeholder="Price"></input>
							</div>

							<div class="form-group col-md-8">
								<label for="recipe" class="col-form-label">Recipe</label> <input
									type="text" th:field="*{recipe}" class="form-control"
									id="recipe" placeholder="Recipe"></input>
							</div>

							<div class="form-group col-md-8">
								<label for="pWeight" class="col-form-label">ProductWeight</label>
								<input type="text" th:field="*{pWeight}" class="form-control"
									id="pWeight" placeholder="Weight"></input>
							</div>



							<div class="col-md-6">
								<input type="submit" class="btn btn-primary" value="Add Product"></input>
							</div>

							<div class="form-group col-md-8"></div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>