<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>AllProductLinks</title>
</head>
<body>
	<h1 align="center">Product-Managment-Application</h1>
	<div align="right">
		<a href="/">Logout</a>
	</div>
	<div align="center">

		<ul>

			<li><a href="/cat/category">CreatCategory</a></li>
			<li><a href="/subcat/subcategory">CreatSubCategory</a></li>
			<li><a href="/product/product">CreatProduct</a></li>
			<!-- <li><a href="/cust/customer">CreateCustomer</a></li> -->
		</ul>

	</div>
</body>
</html>