<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>List-SubCategorys</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous" />
<link rel="stylesheet" href="../css/shards.min.css" />



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
/*<![CDATA[*/
$(document).ready(function(){
  $("#cat").change(function(){
    var cat = $(this).val();
    $.ajax({
		type: 'GET',
		url: '/subcats/' + cat,
		success: function(result) {
			var s = '';
			for(var i = 0; i < result.length; i++)  {
				s += '<option value="' + result[i].productSubCat + '">' + result[i].productSubCat + '</option>';
			}

			$('#subCating').html(s);


		}
    });

  });
});
/*]]>*/
</script>


 <script>
            // Check Jquery is working or not
//            $(document).ready(function(){
//                alert('Tested OKAY');
//            });\\

            function convertToStringAndShow(data) {
                var reader = new FileReader();
                reader.readAsDataURL(data.files[0]);
                reader.onload = function () {
                    // fetch imsge as Base64 String
                    var imageAsString = reader.result;
                    // Show into Image-tag
                    $('#imageTag').attr('src', imageAsString);

                    // Insert into Hidden field, will be get into Server(saveAction.jsp): On form-submit
                    $('#productImage').val(imageAsString);
                }
                //alert( reader.onload);
            }
        </script>
        </head>

<body>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${products}" class="container my-5">
					<p class="my-5">
						<a href="/product/product" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2"> Add Product</i></a>
					</p>
					<p class="my-5">
						<a href="/home" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2"> Home </i></a>
					</p>

					<div class="col-md-10">
						<h2 th:case="null">No Category yet!</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>Product-Id</th>
										<th>Product-Name</th>
										<th>Product-Category</th>
										<th>Product-SubCategory</th>
										<th>Product-SkuCode</th>
										<th>Product-Weight</th>
										<th>Product-Price</th>
										<th>Product-Type</th>
										<th>Product-Image</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="product : ${products}">
										<td th:text="${product.pid}"></td>
										<td th:text="${product.pName}"></td>
										<td th:text="${product.pCat}"></td>
										<td th:text="${product.pSubCat}"></td>
										<td th:text="${product.skuCode}"></td>
										<td th:text="${product.pWeight}"></td>
										<td th:text="${product.pPrice}"></td>
										<td th:text="${product.pType}"></td>
										<td><img th:attr="src=@{${product.productImage}}"/></td>
										<td><a th:href="@{/product/edit/{id}(id=${product.pid})}"
											class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
										<td><a
											th:href="@{/product/delete/{id}(id=${product.pid})}"
											class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>