<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"> -->
<head>
<title>BOX SHOP an E-Commerce online Shopping Category Flat
	Bootstarp responsive Website Template| Home :: w3layouts</title>
<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="BOX SHOP Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 


</script>
<!--webfont-->
<link
	href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
	rel='stylesheet' type='text/css' />
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css' />
<!-- start menu -->
<link href="../css/megamenu.css" rel="stylesheet" type="text/css"
	media="all" />
<script type="text/javascript" src="../js/megamenu.js"></script>
<script>
	$(document).ready(function() {
		$(".megamenu").megamenu();
	});
</script>
<!-- start slider -->
<script src="../js/responsiveslides.min.js"></script>
<script>
	$(function() {
		$("#slider").responsiveSlides({
			auto : true,
			speed : 500,
			namespace : "callbacks",
			pager : true,
		});
	});
</script>
<!--end slider -->
<link rel="stylesheet" href="../css/flexslider.css" type="text/css"
	media="screen" />
<script type="text/javascript">
	$(window).load(function() {
		$("#flexiselDemo").flexisel({
			visibleItems : 5,
			animationSpeed : 1000,
			autoPlay : false,
			autoPlaySpeed : 3000,
			pauseOnHover : true,
			enableResponsiveBreakpoints : true,
			responsiveBreakpoints : {
				portrait : {
					changePoint : 480,
					visibleItems : 1
				},
				landscape : {
					changePoint : 640,
					visibleItems : 2
				},
				tablet : {
					changePoint : 768,
					visibleItems : 3
				}
			}
		});

	});
</script>
<script type="text/javascript" src="../js/jquery.flexisel.js"></script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header">
		<div class="top-header">
			<div class="wrap">
				<div class="header-left">
					<ul>
						<li><a href="#">24x7 Customer Care </a></li>
						<li><a href="order.html"> Track Order</a></li>
					</ul>
				</div>
				<!-- 
				<div class="header-right">
					<ul>
						<li><i class="user"></i> <a href="/login">My Account</a></li>
						<li class="login"><i class="lock"></i> <a href="/login">Login</a>|
						</li>
						<li><i class="sign-up-right"></i> <a href="/cust/customer">Sign
								Up</a></li>
						<li><i class="cart"></i> <a href="/login">Shopping Cart</a></li>
					</ul>
						<div class="sign-up-right">
						<a href="/cust/customer">Sign Up</a>
					</div>
				</div> -->

				<!--    This Line Of Code For Partical User Login       -->
				<div class="header-right">
					<ul>
						<li><i class="user"></i> <a href="/cust/loginCustomer"> <span
								sec:authentication="name"> MyAccount</span>
						</a></li>

						<!-- 		<li class="login"><i class="lock"
							sec:authorize="hasRole('USER')"></i> <a href="/login"
			 				sec:authorize="hasRole('USER')">Login</a>|</li> -->

						<li class="logout"><i class="lock"></i> <a href="/">Logout</a></li>

						<li><i class="cart"></i> <a href="/showcart">Shopping Cart</a></li>
						<li class="last"><span th:text="${Items}"></span></li>
					</ul>
					<!-- 	<div class="sign-up-right" sec:authorize="hasRole('USER')">
						<a href="/cust/customer">Sign Up</a>
					</div> -->
				</div>

				<!-- 				<div class="header-right" th:if="${user!=null}">
					<ul>
						<li><i class="user"></i> <a
							th:href="@{/userdetails/{id}(id=${user.userName})}"><span
								th:text="${user.userName}"></span></a></li>
						<li class="login"><i class="lock"></i> <a href="/logout">logout</a>|
						</li>
						<li><i class="cart"></i> <a href="#">Shopping Cart</a></li>
						<li class="last"><span th:text="${cartCount}"></li>
					</ul>

				</div> -->
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="wrap">
			<div class="header-bottom">
				<div class="logo">
					<a href="index.html"><img src="images/logo.jpg"
						class="img-responsive" alt="" /></a>
				</div>
				<div class="search">
					<!-- 	<div class="search2">
						<form>
							<input type="submit" value=""> <input type="text"
								value="Search for a product, category or brand"
								onfocus="this.value = '';"
								onblur="if (this.value == '') {this.value = 'Search for a product, category or brand';}" />
						</form>
					</div> -->
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- header-section-ends -->
	<div class="wrap">
		<div class="navigation-strip">
			<h4>
				Categories<i class="arrow"></i>
			</h4>
			<div class="top-menu" th:each="cat:${cats}">
				<!-- start header menu -->
				<ul class="megamenu skyblue">
					<li><a class="color1" th:href="${cat.cName}"
						th:text="${cat.cName}"></a>
						<div class="megapanel">
							<div class="row">
								<div class="col1">
									<div class="h_nav">
										<ul th:each="subCat : ${subCategories}">
											<li th:if='${cat.cName}==${subCat.productCategory}'><a
												th:href="@{/one/{id}(id=${subCat.sName})}"
												th:text="${subCat.sName}"></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col2"></div>
								<div class="col1"></div>
								<div class="col1"></div>
								<div class="col1"></div>
								<div class="col1"></div>
							</div>
						</div></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="main">
			<div class="content">
				<div class="content_top">
					<div class="heading">
						<h3>Feature Products</h3>
					</div>
					<div class="sort">
						<p>
							Sort by: <select>
								<option>Lowest Price</option>
								<option>Highest Price</option>
								<option>Lowest Price</option>
								<option>Lowest Price</option>
								<option>Lowest Price</option>
								<option>In Stock</option>
							</select>
						</p>
					</div>
					<div class="show">
						<p>
							Show: <select>
								<option>4</option>
								<option>8</option>
								<option>12</option>
								<option>16</option>
								<option>20</option>
								<option>In Stock</option>
							</select>
						</p>
					</div>
					<div class="page-no">
						<ul>
							<li><a href="#">1</a></li>
							<li class="active"><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li>[<a href="#"> Next>>></a>]
							</li>
						</ul>

					</div>
					<div class="clearfix"></div>
				</div>
				<div class="section group">

					<!-- 	<div th:if="${pros.empty}">
						<p style="color: red; text-align: center;">No Products found</p>
					</div> -->

					<div class="grid_1_of_4 images_1_of_4"
						th:each="pro: ${productsBySubCat}">
						<a href="single.html"><img
							th:attr="src=@{${pro.productImage}}" alt="" /></a>
						<h2 th:text="${pro.pName}"></h2>
						<p th:text="${pro.pSpec}"></p>
						<p>
							<span class="strike">$528.22</span><span class="price"
								th:text="${pro.pPrice}"></span>
						</p>
						<div class="button">
							<span><img src="images/cart.jpg" alt="" /><a
								th:href="@{/cartuser/{id}(id=${pro.pName})}" class="cart-button">Add
									to Cart</a></span>
						</div>
						<div class="button">
							<span><a th:href="@{/one/details/{id}(id=${pro.pid})}"
								class="details">Details</a></span>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>


			</div>
		</div>

	</div>

	<div class="footer">
		<div class="wrap">
			<div class="contact-section">
				<div class="col-md-4 follow text-left">
					<h3>Follow Us</h3>
					<p>Lorem ipsum dolor sit amet</p>
					<div class="social-icons">
						<i class="twitter"></i> <i class="facebook"></i> <i
							class="googlepluse"></i> <i class="pinterest"></i> <i
							class="linkedin"></i>
					</div>
				</div>
				<!-- 	<div class="col-md-4 subscribe text-left">
					<h3>Subscribe Us</h3>

					<input type="text" class="text" value="" onfocus="this.value = '';"
						onblur="if (this.value == '') {this.value = '';}"> <input
						type="submit" value="Subscribe">
				</div> -->
				<div class="col-md-4 help text-right">
					<h3>Need Help?</h3>
					<p>Lorem ipsum dolor sit amet</p>
					<a href="contact.html">Contact us</a>
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="col-md-6 about-text text-right">
				<h4>About BoxShop</h4>
				<p>The fashion never alters, and as it is neither disagreeable
					nor uneasy, so it is suited to the climate, and calculated both for
					their summers and winters. Every family makes their own clothes;
					but all among them, women as well as men, learn one or other of the
					trades formerly mentioned.</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="cards text-center">
			<img src="images/cards.jpg" alt="" />
		</div>
		<div class="copyright text-center">
			<p>
				Copyright &copy; 2015 All rights reserved | Template by <a
					href="http://w3layouts.com"> W3layouts</a>
			</p>
		</div>

	</div>

</body>
</html>


