<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>BOX SHOP a E-commerce online Shopping Category Flat
	Bootstarp responsive Website Template| Single :: w3layouts</title>
<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="../css/style.css" rel="stylesheet" type="text/css"
	media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="BOX SHOP Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 

</script>
<!--webfont-->
<link
	href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
	rel='stylesheet' type='text/css' />
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css' />
<!-- start menu -->
<link href="../css/megamenu.css" rel="stylesheet" type="text/css"
	media="all" />
<script type="text/javascript" src="../js/megamenu.js"></script>
<script>
	$(document).ready(function() {
		$(".megamenu").megamenu();
	});
</script>
<link rel="stylesheet" href="../css/etalage.css" />
<script src="../js/jquery.etalage.min.js"></script>
<script>
	jQuery(document)
			.ready(
					function($) {

						$('#etalage')
								.etalage(
										{
											thumb_image_width : 300,
											thumb_image_height : 400,
											source_image_width : 800,
											source_image_height : 1000,
											show_hint : true,
											click_callback : function(
													image_anchor, instance_id) {
												alert('Callback example:\nYou clicked on an image with the anchor: "'
														+ image_anchor
														+ '"\n(in Etalage instance: "'
														+ instance_id + '")');
											}
										});

					});
</script>
<link rel="stylesheet" href="../css/flexslider.css" type="text/css"
	media="screen" />
<script type="text/javascript">
	$(window).load(function() {
		$("#flexiselDemo").flexisel({
			visibleItems : 4,
			animationSpeed : 1000,
			autoPlay : true,
			autoPlaySpeed : 3000,
			pauseOnHover : true,
			enableResponsiveBreakpoints : true,
			responsiveBreakpoints : {
				portrait : {
					changePoint : 480,
					visibleItems : 1
				},
				landscape : {
					changePoint : 640,
					visibleItems : 2
				},
				tablet : {
					changePoint : 768,
					visibleItems : 3
				}
			}
		});

	});
</script>
<script type="text/javascript" src="../js/jquery.flexisel.js"></script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header">
		<div class="top-header">
			<div class="wrap">
				<div class="header-left">
					<ul>
						<li><a href="#">24x7 Customer Care </a></li>
						<li><a href="order.html"> Track Order</a></li>
					</ul>
				</div>



				<div class="header-right" th:if="${user!=null}">
					<ul>
						<!-- <li sec:authorize="isAuthenticated()"><i class="user"></i><a href="/cust/loginCustomer">
						
									<span th:text="${#authentication.getPrincipal().getUsername()}">User</span>
								
						</a></li> -->


						<li><i class="user"></i> <a href="/cust/loginCustomer"><span
								th:text="${user}"></span></a></li>


						<li class="logout"><i class="lock"></i> <a href="/">Logout</a>
						</li>
						<li><i class="cart"></i> <a href="/showcart">Shopping Cart</a></li>
						<li class="last"><span th:text="${Items}"></span></li>
						<!-- <li class="last">5</li> -->
					</ul>
				</div>

				<div class="header-right" th:if="${user==null}">
					<ul>
						<li><i class="user"></i> <a href="/login">My Account</a></li>
						<li class="login"><i class="lock"></i> <a href="/login">Login</a>|
						</li>
						<li><i class="sign-up-right"></i> <a href="/cust/customer">Sign
								Up</a></li>
						<li><i class="cart"></i> <a href="/login">Shopping Cart</a></li>
					</ul>
					<!-- 	<div class="sign-up-right">
						<a href="/cust/customer">Sign Up</a>
					</div> -->
				</div>


				<div class="clearfix"></div>
			</div>
		</div>

	</div>
	<!-- header-section-ends -->
	<div class="wrap">
		<div class="navigation-strip">
			<h4>
				Categories<i class="arrow"></i>
			</h4>


			<div class="top-menu" th:each="cat:${cats}">
				<!-- start header menu -->
				<ul class="megamenu skyblue">
					<li><a class="color1" th:href="${cat.cName}"
						th:text="${cat.cName}"></a>
						<div class="megapanel">
							<div class="row">
								<div class="col1">
									<div class="h_nav">
										<ul th:each="subCat : ${subCategories}">
											<li th:if='${cat.cName}==${subCat.productCategory}'><a
												th:href="@{/{id}(id=${subCat.sName})}"
												th:text="${subCat.sName}"></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col2"></div>
								<div class="col1"></div>
								<div class="col1"></div>
								<div class="col1"></div>
								<div class="col1"></div>
							</div>
						</div></li>
				</ul>
			</div>

			<div class="clearfix"></div>
		</div>

		<!-- start main -->
		<div class="main_bg" align="left">
			<div class="main">
				<!-- start span1_of_1 -->
				<div class="left_content">
					<div class="span_1_of_left">
						<div class="grid images_3_of_2">
							<div align="left">
								<img th:attr="src=@{${product.productImage}}" />

							</div>
							<ul id="etalage">
								<li><img th:attr="src=@{${product.productImage}}" /> <!--  <img class="etalage_thumb_image" src="@{${product.productImage}}" class="img-responsive" /> -->

								</li>
							</ul>
							<div class="clearfix"></div>
						</div>

						<!-- start span1_of_1 -->
						<div class="span1_of_1_des">
							<div class="desc1">

								<h5>
									Price: <span th:text="${product.pPrice}"></span>
								</h5>
								<br />
								<h5>
									Specification: <span th:text="${product.pSpec}"></span>
								</h5>
								<br />
								<h5>
									Company:<span th:text="${product.pCompanyName}"></span>
								</h5>
								<div class="available" align="left">
									<h4>Available Options :</h4>
									<ul>
										<li>Quality: <select>
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
										</select>
										</li>
									</ul>
									<div class="btn_form">
								<!-- 		<form th:action="@{/cart/{id}(id=${product.pName})}">

											<input type="hidden" name="pro" value="" />
											<input type="submit" value="add to cart1" title="" />
										</form> -->
										<a th:href="@{/cartuser1/{id}(id=${product.pName})}">add to
											cart</a>
									</div>
									<!-- <span class="span_right"><a href="#">login to save
											in wishlist </a></span> -->
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="device">
						<div class="course_demo">
							<ul id="flexiselDemo">
								<li>
									<div class="ipad text-center">
										<img src="images/phone.jpg" alt="" />
										<h4>Ipad Mini</h4>
										<h3>$499</h3>
										<ul>
											<li><i class="cart-1"></i></li>
											<li><a class="cart" href="#">Add To Cart</a></li>
										</ul>
										<div class="clearfix"></div>
										<ul>
											<li><i class="heart"></i></li>
											<li><a class="cart" href="#">Add To Wishlist</a></li>
										</ul>
									</div>
								</li>
								<li>
									<div class="ipad text-center">
										<img src="images/phone1.jpg" alt="" />
										<h4>Ipad Mini</h4>
										<h3>$499</h3>
										<ul>
											<li><i class="cart-1"></i></li>
											<li><a class="cart" href="#">Add To Cart</a></li>
										</ul>
										<div class="clearfix"></div>
										<ul>
											<li><i class="heart"></i></li>
											<li><a class="cart" href="#">Add To Wishlist</a></li>
										</ul>
									</div>
								</li>
								<li>
									<div class="ipad text-center">
										<img src="images/phone2.jpg" alt="" />
										<h4>Ipad Mini</h4>
										<h3>$499</h3>
										<ul>
											<li><i class="cart-1"></i></li>
											<li><a class="cart" href="#">Add To Cart</a></li>
										</ul>
										<div class="clearfix"></div>
										<ul>
											<li><i class="heart"></i></li>
											<li><a class="cart" href="#">Add To Wishlist</a></li>
										</ul>
									</div>
								</li>
								<li>
									<div class="ipad text-center">
										<img src="images/phone3.jpg" alt="" />
										<h4>Ipad Mini</h4>
										<h3>$499</h3>
										<ul>
											<li><i class="cart-1"></i></li>
											<li><a class="cart" href="#">Add To Cart</a></li>
										</ul>
										<div class="clearfix"></div>
										<ul>
											<li><i class="heart"></i></li>
											<li><a class="cart" href="#">Add To Wishlist</a></li>
										</ul>
									</div>
								</li>
								<li>
									<div class="ipad text-center">
										<img src="images/phone4.jpg" alt="" />
										<h4>Ipad Mini</h4>
										<h3>$499</h3>
										<ul>
											<li><i class="cart-1"></i></li>
											<li><a class="cart" href="#">Add To Cart</a></li>
										</ul>
										<div class="clearfix"></div>
										<ul>
											<li><i class="heart"></i></li>
											<li><a class="cart" href="#">Add To Wishlist</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>


				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="wrap">
			<div class="contact-section">
				<div class="col-md-4 follow text-left">
					<h3>Follow Us</h3>
					<p>Lorem ipsum dolor sit amet</p>
					<div class="social-icons">
						<i class="twitter"></i> <i class="facebook"></i> <i
							class="googlepluse"></i> <i class="pinterest"></i> <i
							class="linkedin"></i>
					</div>
				</div>
				<!-- 	<div class="col-md-4 subscribe text-left">
					<h3>Subscribe Us</h3>

					<input type="text" class="text" value="" onfocus="this.value = '';"
						onblur="if (this.value == '') {this.value = '';}"> <input
						type="submit" value="Subscribe">
				</div> -->
				<div class="col-md-4 help text-right">
					<h3>Need Help?</h3>
					<p>Lorem ipsum dolor sit amet</p>
					<a href="contact.html">Contact us</a>
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="col-md-6 about-text text-right">
				<h4>About BoxShop</h4>
				<p>The fashion never alters, and as it is neither disagreeable
					nor uneasy, so it is suited to the climate, and calculated both for
					their summers and winters. Every family makes their own clothes;
					but all among them, women as well as men, learn one or other of the
					trades formerly mentioned.</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="cards text-center">
			<img src="images/cards.jpg" alt="" />
		</div>
		<div class="copyright text-center">
			<p>
				Copyright &copy; 2015 All rights reserved | Template by <a
					href="http://w3layouts.com"> W3layouts</a>
			</p>
		</div>

	</div>

</body>
</html>